<ion-header>
    <ion-toolbar color="header-bg">
      <!-- <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title>
        Login
      </ion-title>
      <!-- <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    
  </ion-list>

  <button ion-button  color="secondary" full (click)="login()">Login</button>
  <button ion-button color="default" clear full (click)="gotoSignup()">Sign up for a new account?</button>
  
</ion-content>
