<ion-header>
   <ion-navbar color="header-bg">
      <!-- <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title>
        Profile
      </ion-title>
      <!-- <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons> -->
  </ion-navbar>
</ion-header>
  

<ion-content padding>

</ion-content>
