<ion-header>
  <ion-navbar color="header-bg">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
    <ion-searchbar showCancelButton="true" animated="true" (input)="search($event.target.value)" (ionCancel)="search('%')"></ion-searchbar>

    <!-- <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <button ion-button (click)="goto()">Login Page</button>
  <button ion-button (click)="checkLoginState()">Info</button>
  <button ion-button (click)="logout()">logout</button>
  <button ion-button menuToggle>Toggle Menu</button>

</ion-content>
