<ion-menu id="sidemenu" [content]="mycontent" side="left">
  <ion-header>
    <ion-navbar color="sidemenu-bg">
      <ion-buttons start>
        <button ion-button (click)="headerMore()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Menu
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage('profile')">
        <ion-icon name="person"></ion-icon>
        &nbsp;
        Profile
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
